
<header>
  <nav>
    <div class="cabecalho">
          <a href=""><img class="menu__img" src="../../../assets/images/menu_FILL0_wght400_GRAD0_opsz48.svg" alt=""></a>
          <form class="barra__search" data-form>
            <div class="container">
              <label class="label__search" for="nome"></label>
              <input name="pesquisa" id="pesquisar" class="inputSearch" type="text" placeholder=" 🔍︎ Pesquisar nota...">
            </div>
          </form>
    </div>
</nav>
</header>
